main{
    width: 750px;
}

img{
    width: 250px;
}

a{
    background-color: darkgreen;
    color: aqua;
}

a:hover{
    background-color: brown;
    color: black;
}

.left{
    float: left;
    margin: 0px 15px 15px 0px;
}

.right{
    float: right;
    margin: 15px 0px 15px 15px;
}